[Unit]
Description=Run RPG Backend readiness probe every 30s

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=rpg-backend-readiness.service
AccuracySec=1s

[Install]
WantedBy=timers.target
